{% extends 'home.html' %}

{% block content %}
{% include "nav/nav.html" %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {% for msg in messages %}
                        <div>{{msg}}</div>
                        {% endfor %}
                        <h4 class="card-title">Register</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="register">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" id="password1" name="password1">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                            <p>I already have an account? <a href="{% url 'login' %}">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


{% endblock content %}